version: '3.8'

services:

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: swift
      POSTGRES_PASSWORD: swiftpass
      POSTGRES_DB: swiftdb
    ports:
      - "5432:5432"

  gateway:
    build: ./gateway
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
      - postgres

  orchestrator:
    build: ./orchestrator
    depends_on:
      - rabbitmq
      - postgres

  worker:
    build: ./worker
    depends_on:
      - rabbitmq
